<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Angular INIT</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
</head>
<body>
    <div ng-app="" ng-init="quantity=4; price=4">

        Quantity:<input type="number" ng-model="quantity">
    
        Price:<input type="number" ng-model="price">
    
        <p><b>Total :-</b>{{quantity*price}}</p>
    </div>
</body>
</html>
